.ant-layout-header {
  background: #fff;
  border-bottom: 1px solid #eee
}

.main {
  height: 100vh;
  .ant-layout-sider {
    background: #3e4963;
    text-align: center;
    color: #fff;
  }
  .logo {
    width: 40px;
    height: 60px;
    margin: 10px;
    background: #fff;
  }
  .l-menu {
    height: 66px;
    margin-top: 20px;
    cursor: pointer;
  }
  .l-menu:hover {
    background: rgb(14, 14, 32);
  }
}